.card-curso{
max-width: 320px;
background-color: rgb(239, 239, 245);
border-radius: 12px;
}


.card-curso button{
    width: 50%;
    max-width: 0 16px 48px;
}

.card-curso ul{
    list-style: none;
    padding: 0;
}

.card-curso ul li{
    margin: 12px;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #1D1B20;
    text-align: center;
}

.card-curso .custom-bordered-button {
    border: 0.50px solid #7760f5; /* Substitua #ff5733 pela cor desejada */
}

.card-curso .btn-primary {
    margin-right: 8px; /* Ajuste conforme necessário */
}

