<section class="homepage">
<app-banner
src="assets/imagens/banner10.png"
alt="Banner rosa da aplicação"></app-banner>
<app-container>
<h2>Ciências Biológicas e da Saúde</h2>
<div class="card-wrapper">
    <app-card-curso></app-card-curso>
    <app-card-curso></app-card-curso>
    <app-card-curso></app-card-curso>
</div>

<h2>Ciências Humanas</h2>
<div class="card-wrapper">
    <app-card-curso></app-card-curso>
    <app-card-curso></app-card-curso>
    <app-card-curso></app-card-curso>
</div>

<h2>TI & Computação</h2>
<div class="card-wrapper">
    <app-card-curso></app-card-curso>
    <app-card-curso></app-card-curso>
    <app-card-curso></app-card-curso>
</div>
</app-container>
</section>