<footer class="app-footer">
    <app-container>
        <div class="inner">
            <ul>
                <li> <img src="assets/imagens/alunoazul.png" alt="Logo da aplicação"> </li>

                <li> Horário de atendimento: 08h - 20h (Segunda a Sabado)</li>

                <li>Desenvolvido por Beatriz da Cunha - Projeto Aluno/Curso </li>
            </ul>

            <ul class="sociais">
                <li class="sociais-text">Acesse nossas redes:</li>
                <li>
                    <button mat-icon-button>
                        <img src="assets/icones/whatsapp.png" alt="Icone do whatsapp">
                    </button>
                </li>

                <li>
                    <button mat-icon-button>
                        <img src="assets/icones/instagram.png" alt="Icone do instagram">
                    </button>
                </li>

                <li>
                    <button mat-icon-button>
                        <img src="assets/icones/twitter.png" alt="Icone do twitter">
                    </button>
                </li>

            </ul>
        </div>
    </app-container>
</footer>